<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Frudor</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />
        <!-- Library CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{echo CDN}css/team-member.css" media="screen">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{echo CDN}css/animations.css" media="screen">
        <link rel="stylesheet" href="{echo CDN}css/prettyPhoto.css" media="screen">
        <link rel="stylesheet" href="{echo CDN}css/jquery.bxslider.css" media="screen">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="{echo CDN}css/style.css">
        <link rel="stylesheet" href="{echo CDN}css/global.css">
        <!-- Skin -->
        <link rel="stylesheet" href="{echo CDN}css/colors/blue.css" class="colors">

        <!-- Switcher CSS -->
        <link href="{echo CDN}css/switcher.css" rel="stylesheet">
        <!-- Favicons -->
        <link rel="shortcut icon" href="{echo CDN}img/ico/favicon.ico">
        <link rel="apple-touch-icon" href="{echo CDN}img/ico/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{echo CDN}img/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{echo CDN}img/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{echo CDN}img/ico/apple-touch-icon-144.png">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target="#navigation" data-offset="150">
        <!-- Page Preloader -->
        <div class="page-mask">
            <div class="page-loader"> 

                <div class="spinner"></div>
            </div>
        </div>
        <!-- /Page Preloader -->

        <!-- Warpper -->
        <div class="wrap with-logo">
            {ayield action}
        </div>
        <!-- /Warpper -->
        <!-- The Scripts -->
        <!-- The Scripts -->
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{echo CDN}js/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{echo CDN}js/jquery.parallax.js"></script>
        <script src="{echo CDN}js/jquery.hparallax.js"></script>
        <script src="{echo CDN}js/jquery.wait.js"></script> 
        <script src="{echo CDN}js/appear.js"></script>
        <script src="{echo CDN}js/jquery.sticky.js"></script>
        <script src="{echo CDN}js/jquery.nav.js"></script>
        <script src="{echo CDN}js/wow.js"></script>
        <script src="{echo CDN}js/custom.js"></script>

    </body>
</html>