<!-- Image Background Parallax -->
<div id="section" class="image-parallax" style="background-image: url(http://cdn.frudor.com/img/slider/bx1.jpg)">

    <div class="bg-overlay">
        <div class="slide-content light">
            <div class="align-center">
                <div class="top-logo" >
                    <div>
                        <img width="382" height="120" alt="Frudor" src="{echo CDN}img/logoLaunch.png">
                    </div>
                </div>
                <div style="margin-bottom:30px">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-2">
                                <div class="embed-responsive embed-responsive-16by9" id="myvideo">
                                    <iframe class="embed-responsive-item" src="{echo CDN}img/slider/Frudor.mp4"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <a href="#here" class="btn btn-1 img-btn">Get an Invite</a>
            </div>
        </div>
    </div>
</div>
<!--/Image Background Parallax -->

<!-- /Header -->

<!-- Section 2 -->
<section id="section2" class="about">


    <!-- Service wrap -->
    <div class="about-wrap">
        <div class="parallax-layer">
            <div class="icons"></div>
        </div>
        <div class="parallax-layer">
            <div class="texture"></div>
        </div>
        <div class="container">
            <!-- Content row -->
            <div class="row">
                <!-- Content box 1 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box big ch-item wow fadeInLeft">
                        <div class="ch-info-wrap">
                            <div>
                                <img src="{echo CDN}img/organic-logo.png" width="100" height="100" alt="logo">
                            </div>
                        </div>
                        <div class="content-box-info" >
                            <h3 style="color:black;">We Sell Organic!</h3>
                            <p style="color:black;">
                                We care about your health, that’s why we bring you 100% certified organic food from the best farms in India.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Content box 1 -->

                <!-- Content box 2 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box big ch-item wow fadeInDown">
                        <div class="ch-info-wrap">
                            <div>
                                <img src="{echo CDN}img/delivery logo.png" width="100" height="100">
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3 style="color:black;">3 Hour Delivery</h3>
                            <p style="color:black;">
                                We know that you just can’t wait to savour our delicious fruits, that’s why we bring them to your door in just 3 hours.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Content box 2 -->

                <!-- Content box 3 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box big ch-item wow fadeInRight">
                        <div class="ch-info-wrap">
                            <div>
                                <img src="{echo CDN}img/subscription-logo.png" width="100" height="100">
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3 style="color:black;">Subscribe To Our Packages</h3>
                            <p style="color:black;">
                                Subscribe to the package that suits you most and we’ll take care of your groceries for 30 days.
                            </p>
                            <div id="here"></div>
                        </div>
                    </div>
                </div>
                <!-- /Content box 3 -->
            </div>
            <!-- /Content row -->
        </div>

    </div>
    <!-- /Service wrap -->

    <!-- What we do best -->

    <!-- Section 7 -->
    <section id="section7" class="contacts">
        <!-- Subscription Wrap -->
        <div class="subscription-wrap light">
            <div class="texture-layer">
                <div class="container">
                    <!-- Title row -->
                    <div class="row">
                        <div class="col-md-12 big-title light wow bounceIn">
                            <h2>Get an Invite</h2>
                        </div>
                    </div>
                    <!-- /Title row -->

                    <!-- Subscription form -->
                    <div class="row text-center">
                        <div class="col-md-2"></div>

                        <div class="col-md-8">
                            <form method="post" action="#" id="signup">
                                <fieldset>
                                    <span id="response"></span>

                                    <input class="form-control subEmail wow fadeInLeft" type="text" placeholder="Email Address" id="subEmail" name="subEmail">
                                    <button class="btn btn-1 wow fadeInRight">Join</button>

                                    <div id="no-spam" class="wow fadeInUp">* We will never spam or give this address away</div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                    <!-- /Subscription form -->
                </div>
            </div>
        </div>
        <!-- /Subscription Wrap -->


        <footer class="footer-wrap text-center">
            <div class="container">
                <ul class="social social-icons-footer-bottom wow fadeInDown">
                    <li class="facebook"><a href="https://www.facebook.com/frudor" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="https://www.twitter.com/" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li class="pinterest"><a href="https://in.pinterest.com/frudor" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                </ul>

                <p class="site-info wow fadeInUp"> © 2015 Frudor</p>
            </div>
        </footer>
    </section>
    <!-- /Section 7 -->

    <!-- Scroll To Top --> 
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>