<!-- Header -->
<header id="section1" class="parallax-slider">
    <!-- Fullscreen Slider -->
    <div class="slider-container">
        <ul class="fullwidth-slider">
            <!-- Slide 1 -->
            <li class="slide" style="background-image: url(img/slider/bx1.jpg)" data-anchor-target="section" data-70-top="background-position: center 400px;" data-start="background-position: center 0px;">
                <div class="bg-overlay">
                    <!-- Caption -->
                    <div class="caption">
                        <div class="caption-inside" data-anchor-target="section"  data-start="top: 0px; opacity: 1;" data-200-top="top: 270px; opacity: 0;">
                            <div class="slide-caption light">
                                <div class="vertical-align-middle" style="padding-top:10px">     

                                    <h1>FRUDOR</h1>
                                    <p>
                                        Create your own visual style, let it be unique for yourself and yet identifiable for others.
                                    </p>
                                    <div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">


                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item" src="img/slider/Frudor.mp4"></iframe>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <a href="#section7" class="btn btn-1 img-btn">Get an Invite!</a>

                                </div>                                                    
                            </div>
                        </div>
                    </div>
                    <!--/Caption -->
                </div>

            </li>
            <!--/Slide 1 -->

            <!-- Slide 2 -->
            <li class="slide" style="background-image: url(img/slider/bx2.jpg)" data-anchor-target="section" data-70-top="background-position: center 400px;" data-start="background-position: center 0px;">
                <div class="bg-overlay">
                    <!-- Caption -->
                    <div class="caption">
                        <div class="caption-inside" data-anchor-target="section"  data-start="top: 0px; opacity: 1;" data-200-top="top: 270px; opacity: 0;">
                            <div class="slide-caption light">
                                <div class="vertical-align-middle">     

                                    <h1>Agency Theme</h1>
                                    <p>
                                        Technology over technique produces emotionless design.
                                    </p>                                    
                                    <a href="#section7" class="btn btn-1 img-btn">Get an Invite!</a>

                                </div>                                                    
                            </div>
                        </div>
                    </div>
                    <!--/Caption -->
                </div>

            </li>
            <!--/Slide 2 -->

            <!-- Slide 2 -->
            <li class="slide" style="background-image: url(img/slider/bx3.jpg)" data-anchor-target="section" data-70-top="background-position: center 400px;" data-start="background-position: center 0px;">
                <div class="bg-overlay">
                    <!-- Caption -->
                    <div class="caption">
                        <div class="caption-inside" data-anchor-target="section"  data-start="top: 0px; opacity: 1;" data-200-top="top: 270px; opacity: 0;">
                            <div class="slide-caption light">
                                <div class="vertical-align-middle">     

                                    <h1>Endless Possibility</h1>
                                    <p>
                                        Design is as much an act of spacing as an act of marking.
                                    </p>                                    
                                    <a href="#section7" class="btn btn-1 img-btn">Get an Invite!</a>

                                </div>                                                    
                            </div>
                        </div>
                    </div>
                    <!--/Caption -->
                </div>

            </li>
            <!--/Slide 2 -->
        </ul>
    </div>
    <!-- /Full Screen Slider -->                     
</header>
<!-- /Header -->



<!-- Section 7 -->
<section id="section7" class="contacts">
    <!-- Subscription Wrap -->
    <div class="subscription-wrap light">
        <div class="texture-layer">
            <div class="container">
                <!-- Title row -->
                <div class="row">
                    <div class="col-md-12 big-title light wow bounceIn">
                        <h2>Subscribe with us</h2>
                    </div>
                </div>
                <!-- /Title row -->

                <!-- Subscription form -->
                <div class="row text-center">
                    <div class="col-md-2"></div>

                    <div class="col-md-8">
                        <form method="GET" action="ENTER.php" id="signup">
                            <fieldset>
                                <span id="response"></span>

                                <input class="form-control subEmail wow fadeInLeft" type="text" placeholder="Email Address" id="email" name="email">
                                <input type="submit" value="submit" class="btn btn-1 wow fadeInRight">

                                <div id="no-spam" class="wow fadeInUp">* We'll never spam or give this address away</div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-md-2"></div>
                </div>
                <!-- /Subscription form -->
            </div>
        </div>
    </div>
    <!-- /Subscription Wrap -->

    <footer class="footer-wrap text-center">
        <div class="container">
            <ul class="social social-icons-footer-bottom wow fadeInDown">
                <li class="facebook"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="dribbble"><a href="#" data-toggle="tooltip" title="Dribble"><i class="fa fa-dribbble"></i></a></li>
                <li class="linkedin"><a href="#" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                <li class="rss"><a href="#" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a></li>
            </ul>

            <p class="site-info wow fadeInUp"> © 2015 Frudor</p>
        </div>
    </footer>
</section>
<!-- /Section 7 -->

<!-- Scroll To Top --> 
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>